<section-users>

    <div class="page__navbar">
        <div class="page__navbar__container">
            <div class="page__navbar__right w100p">
                <btn-plus onClick={ open.createUser } onUpdate="none" color="success-hover zIndex-1" text="Создать аккаунт"></btn-plus>
            </div>
        </div>
    </div>

    <div class="page__container">
        <table ref="dataTable" id="datatable-buttons" class="dataTable mt--60">
            <thead>
                <th></th>
                <th></th>
                <th>Имя</th>
                <th>Лояльность</th>
                <th>Активность</th>
                <th data-hidden="true">Приветствие</th>
                <th>Резюме</th>
                <th>Визиты</th>
                <th>Девайс</th>
                <th>Тариф</th>
                <th>Баланс</th>
                <th data-hidden="true">Город</th>
                <th data-hidden="true">Дата</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <section-users-options></section-users-options>

<script>

    var $ = this;

    $.on("mount", function(){
        $Sections.module("users.section", $);
        $Sections.table = new app.plugins.dataTable({
            tag: $,
            scope: $.refs.dataTable,
            settings: $store.users.dataTable,
            store: $store.users,
            items: $store.users.get(),
            editItem: function(item){
                $Sections.users.edit.show(item._id);
            },
            select: function(items){
                $Sections.users.options.show(items);
            },
            props: {
                get: {
                    fidelity: function(metrika){
                        var result = _.deepFindWhere(metrika, "success"),
                            hits = 0,
                            all = 0;

                        _.each(result, function(prop){
                            if (prop.show === true){
                                all += 1;
                                if (prop.success) hits += 1;
                            }
                        });

                        var total = parseInt(100 * (hits / all));

                        return '<div class="dataTable__progress"><div class="dataTable__progress__line bg-' + $Sections.users.section.get.scoreColor(total) + '" style="width:' + total + '%"></div></div>';
                    },
                    activity: function(metrika){
                        var result = _.deepFindWhere(metrika, "show"),
                            hits = _.reduce(_.pluck(result, "show"), function(memo, value){return memo + (value ? 1 : 0);}, 0);

                        var total = parseInt(100 * (hits / result.length));

                        return '<div class="dataTable__progress"><div class="dataTable__progress__line bg-' + $Sections.users.section.get.scoreColor(total) + '" style="width:' + total + '%"></div></div>';
                    },
                    welcome: function(metrika){
                        var welcome = metrika.offers.welcome,
                            icon;

                        if (welcome.show){
                            if (welcome.hide) icon = "break";
                            else if (welcome.tutorial.show){
                                if (welcome.tutorial.success) icon = "play";
                                else if (!welcome.tutorial.success){
                                    if (welcome.tutorial.hide){
                                        icon = "stop";
                                    }
                                }
                            }
                            if (!icon) icon = "pause";
                            return '<div class="dataTable__welcome" data-icon="' + icon + '"></div>';
                        }
                    }
                }
            }
        });
        $Sections.table.init();
    });

    $.get = {
        scoreColor: function(total){
            if (total > 50 && total < 64) return "orangeLight";
            else if (total > 33 && total < 51) return "orange";
            else if (total > 20 && total < 34) return "red";
            else if (total < 21) return "cherry";
            else return "green";
        }
    };

    $.open = {
        createUser: function(){
            //$Sections.samples.parsing.show();
        }
    }

    $.on("before-unmount", function(){
        $Sections.table.destroy();
    });

</script>

</section-users>
