<section-samples-options class="options__panel" data-open={ active }>

    <div class="app-container">
        <div class="rows">
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <div class="options__panel__counter">Выбрано: <strong>{ counts }</strong></div>
                </div>
                <div class="col-md-17">
                    <div class="select select-m w200 mr-m">
                        <select ref="select">
                            <option if={ item._id !== $Sections.samples.section.status } each={ item in $store.samples.status.get() } no-reorder riot-value={ item._id }>{ item.title }</option>
                        </select>
                    </div>
                    <div onClick={ onChangeStatus } onUpdate="none" class="btn btn-m btn-success-hover mr-m">Изменить статус</div>
                    <div onClick={ onRemove } onUpdate="none" class="btn btn-m btn-danger-hover mr-m">Удалить выбранные</div>
                    <div onClick={ onCancel } onUpdate="none" class="btn btn-m btn-primary-hover mr-m">Отменить</div>
                    <div onClick={ onSelectAll } onUpdate="none" class="btn btn-m btn-primary">Выбрать все</div>
                </div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.on("mount", function(){
        $Sections.module("samples.options", $);
    });

    $.show = function(ids){
        if (ids && ids.length) $.active = true;
        else $.active = false;

        $.counts = ids && ids.length;
        $.ids = ids;
        $.update();
    };

    $.onChangeStatus = function(){
        var status = $.refs.select.value;

        _.each($.ids, function(id){
            $store.samples.select({"_id": id}, "_status").set(status);
        });
        app.request("setSamplesStatus", {
            ids: $.ids,
            status: status
        });
        $.unSelect();
    };

    $.onRemove = function(){
        $Alert.show({
            title: "Вы хотите удалить?",
            subtitle: "Выбрано " + $.ids.length + " записей",
            cancel: true,
            success: {
                callback: function(){
                    $Sections.table.remove.list($.ids, function(){
                        app.request("delSamples", {
                            ids: $.ids
                        });
                        $.unSelect();
                    });
                }
            }
        });
    };

    $.onCancel = function(){
        $.unSelect();
    };

    $.onSelectAll = function(){
        $Sections.table.select.all();
        var ids = $Sections.table.select.get();
        $.update({
            counts: ids.length,
            ids: ids
        });
    };

    $.unSelect = function(){
        $.update({
            active: false,
            counts: 0,
            ids: null
        });
        $Sections.table.select.unset();
    };

</script>

</section-samples-options>
