<root-main id="app">

    <section-header></section-header>

    <section-content id="content" class="app-container"></section-content>

    <section-loader></section-loader>
    <section-loader-ajax></section-loader-ajax>
    <section-alert></section-alert>
    <section-notify></section-notify>
    <ui-dropmenu></ui-dropmenu>

    <section-users-edit></section-users-edit>
    <section-samples-edit></section-samples-edit>
    <section-samples-parsing></section-samples-parsing>

<script>

    window.$root = this;

    $root.on("before-mount", function(){
        $Sections = new app.plugins.define("$Sections");
    });

    $root.on("mount", function(){

        app.$dom.root = $$($root.root);
        app.$dom.content = app.$dom.root.find("#content");

        $Loader = $root.tags["section-loader"];
        $LoaderAjax = $root.tags["section-loader-ajax"];
        $Alert = $root.tags["section-alert"];
        $Notify = $root.tags["section-notify"];
        $DropMenu = $root.tags["ui-dropmenu"];

        app.router.init();
    });

</script>

</root-main>
